h1 {
    background-color: rgb(226, 151, 213);
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-family:helvetica;
}
p {
    font-family: helvetica;
    padding: 5px;
}
.button-container {
    font-family: helvetica;
    color: white;
    /* display: flex; */
    justify-content: center;
    flex-direction: row;
    margin: 5px;
}

#breathing {
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    background-color: rgb(138, 204, 235);
}

#habits {
    padding: 10px;
    background-color: rgb(138,204,235);
    border-radius: 10px;
    margin: 5px;
}

#breathing:hover::after {
        background-color: #b8e8f3;
        cursor: pointer;
}